{#
/**
 * @file
 * Bootstrap Mint's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.sliding_header_one: Items for the Sliding Header Left region.
 * - page.sliding_header_two: Items for the Sliding Header Right region.
 * - page.header: Items for the Header region.
 * - page.primary_menu: Items for the Primary Menu navigation region.
 * - page.page_title: Region for the current page title.
 * - page.slideshow: Items for the Slideshow region.
 * - page.promo: Items for the promo region.
 * - page.highlighted: Items for the Highlighted region.
 * - page.topwidget_left: Items for the Top Widget - Left region.
 * - page.topwidget_middle: Items for the Top Widget - Middle region.
 * - page.topwidget_right: Items for the Top Widget - Right region.
 * - page.content_top: Items for the Content Top region.
 * - page.help: Items for the Help region.
 * - page.breadcrumb: Items for the Breadcrumb region.
 * - page.search: The search region.
 * - page.content: Main content of the current page.
 * - page.sidebar_first: Items for the Left sidebar region.
 * - page.sidebar_second: Items for the Right sidebar region.
 * - page.content_bottom: Items for the Content Bottom region.
 * - page.footer_top_one: Items for the Footer Top Widget - One region.
 * - page.footer_top_two: Items for the Footer Top Widget - Two region.
 * - page.footer_top_three: Items for the Footer Top Widget - Three region.
 * - page.footer_top_four: Items for the Footer Top Widget - Four region.
 * - page.footer: Items for the Footer region.
 * - page.footer_menu: Items for the Footer Menu region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}



<!-- Header and Navbar -->
<header class="main-header">
    <!-- francais  -->
    {% if language.getId() == 'fr' %}
        <nav class="navbar" style="background-color:#0d5178;">
            <div class="container-fluid"> 
                <a class="navbar-brand col-lg-7" href="#">


                </a>
                <ul class="nav navbar-nav navbar-right col-lg-5">  
                    <li><a href="https://www.grip.org/" style="font-size: 16px; color: #3f8ec1"><i>Visitez le site du Grip</i></a>  </li>
                    <li><a href="https://www.grip.org/fr/contact/contact" style="font-size:16px; color: #3f8ec1"><i>Contactez  le Grip</i></a>  </li>
                    <li>
                        <div style="padding-top:0.5em;padding-left:0.4em;">

                            <a style="font-weight: bold;color: #FFFFFF; font-size: 18px; " href="http://localhost/embargo/en">En</a>
                            <a  style="font-weight: bold;color: #FFFFFF; font-size: 18px; text-decoration: underline; " href="http://localhost/embargo/fr">/Fr</a>
                        </div>
                    </li>
                    <li> 


                        <div style="padding-left:0.6em;"class="social-media">



                            <a style="font-size: 16px;" href="https://www.facebook.com/GRIP.1979"class="icon-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>

                            <a href="https://twitter.com/grip_org" class="icon-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>

                            <a href="https://www.linkedin.com/company/grip" class="icon-linkedin" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"></i></a>


                        </div>
                    </li>


                </ul>


            </div> 
        </nav>
    {% else %}
        <!-- anglais -->
        <nav class="navbar" style="background-color:#0d5178;">
            <div class="container-fluid"> 
                <a class="navbar-brand col-lg-7" href="#">


                </a>
                <ul class="nav navbar-nav navbar-right col-lg-5">  
                    <li><a href="https://www.grip.org/" style="font-size: 16px; color: #3f8ec1"><i>Visit GRIP website</i></a>  </li>
                    <li><a href="https://www.grip.org/fr/contact/contact" style="font-size:16px; color: #3f8ec1"><i>Contact the Grip</i></a>  </li>

                    <li>
                        <div style="padding-top:0.5em;padding-left:0.4em;">

                            <a style="font-weight: bold;color: #FFFFFF; font-size: 18px; text-decoration: underline; " href="http://localhost/embargo/en">En</a>
                            <a style="font-weight: bold;color: #FFFFFF; font-size: 18px; " href="http://localhost/embargo/fr">/Fr</a>
                        </div>
                    </li>
                    <li> <div style="padding-left:0.6em;"class="social-media">



                            <a style="font-size: 16px;" href="https://www.facebook.com/GRIP.1979"class="icon-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>

                            <a href="https://twitter.com/grip_org" class="icon-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>

                            <a href="https://www.linkedin.com/company/grip" class="icon-linkedin" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"></i></a>


                        </div>
                    </li>



                </ul>

            </div> 
        </nav>
    {% endif %}
    <!-- Sliding Header Widget -->
    {% if is_front %}
        {% if page.sliding_header_one or page.sliding_header_two %}
            <div class="slidewidget">
                <div class="wrapper">
                    <!-- start: Container -->
                    <div class="container">

                        <div class="row">
                            <div id="sliding-header-wrap">
                                <!-- Slide first region -->

                                {% if page.sliding_header_one %}
                                    <div class = {{ slidewidget_first }}>
                                        {{ page.sliding_header_one }}
                                    </div>
                                {% endif %}

                                <!-- End slide first region -->
                                <!-- Slide second region -->

                                {% if page.sliding_header_two %}
                                    <div class = {{ slidewidget_class }}>
                                        {{ page.sliding_header_two }}
                                    </div>
                                {% endif %}

                                <!-- End slide second region -->

                            </div>


                        </div>
                    </div>
                    <!-- end: Container -->
                </div>
                <div class="toggle-switch"><div class="fa fa-gear fa-spin"></div></div>
            </div>
        {% endif %}
    {% endif %}
    <!--Sliding Header Widget -->
    <!-- nav francais</div>-->
    {% if language.getId() == 'fr' %}
        <nav  style=" pading: 20px;"class="navbar navbar-light bg-light ">

            <a class="navbar-brand col-lg-4" href="#">


            </a>
            <ul  class="nav navbar-nav col-lg-7 ">
                <li><img src="http://embargo.grip.org/logo1.png" width="125" height="125"  alt=""></li>
                <li><a onmouseover="this.style.background = '#0d5178';
                        this.style.color = '#FFFFFF';"  onmouseout="this.style.background = '';
                                this.style.color = '#FFFFFF';" style=" padding-top: 2em; color: #FFFFFF; font-size: 18px; " href="http://localhost/embargo/fr">Accueil</a></li>
                <li><a onmouseover="this.style.background = '#0d5178';
                        this.style.color = '#FFFFFF';"  onmouseout="this.style.background = '';
                                this.style.color = '#FFFFFF';" style=" padding-top: 2em; color: #FFFFFF; font-size: 18px; " href="http://localhost/embargo/fr/viewslist">Recherche</a></li>
                <li><a onmouseover="this.style.background = '#0d5178';
                        this.style.color = '#FFFFFF';"  onmouseout="this.style.background = '';
                                this.style.color = '#FFFFFF';" style="  padding-top: 2em; color: #FFFFFF; font-size: 18px; "href="http://localhost/embargo/fr/node/5">Présentation</a></li>
                <li><a onmouseover="this.style.background = '#0d5178';
                        this.style.color = '#FFFFFF';"  onmouseout="this.style.background = '';
                                this.style.color = '#FFFFFF';" style=" padding-top: 2em; color: #FFFFFF; font-size: 18px; " href="http://localhost/embargo/fr/node/2">Avertissement</a></li>



            </ul>

            <ul  class="nav navbar-nav col-lg-1 ">



            </ul>

        </nav>

    {% else %}
        <!-- nav Anglais </div>-->

        <nav  style="min-height: 68px;"class="navbar navbar-light bg-light">

            <a class="navbar-brand col-lg-4" href="#">


            </a>
            <ul class="nav navbar-nav col-lg-8 ">
                <li><img src="http://embargo.grip.org/logo1.png" width="125" height="125"  alt="">&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a onmouseover="this.style.background = '#0d5178';
                        this.style.color = '#FFFFFF';"  onmouseout="this.style.background = '';
                                this.style.color = '#FFFFFF';" style="padding-top: 2em; color: #FFFFFF; font-size: 18px; " href="http://localhost/embargo/en">&nbsp;&nbsp;Home</a></li>
                <li><a onmouseover="this.style.background = '#0d5178';
                        this.style.color = '#FFFFFF';"  onmouseout="this.style.background = '';
                                this.style.color = '#FFFFFF';" style=" padding-top: 2em; color: #FFFFFF; font-size: 18px; " href="http://localhost/embargo/en/viewslisten">&nbsp;&nbsp;Search</a></li>
                <li><a onmouseover="this.style.background = '#0d5178';
                        this.style.color = '#FFFFFF';"  onmouseout="this.style.background = '';
                                this.style.color = '#FFFFFF';"style=" padding-top: 2em; color: #FFFFFF; font-size: 18px; " href="http://localhost/embargo/en/node/5">&nbsp;&nbsp;About</a></li>
                <li><a onmouseover="this.style.background = '#0d5178';
                        this.style.color = '#FFFFFF';"  onmouseout="this.style.background = '';
                                this.style.color = '#FFFFFF';"style=" padding-top: 2em; color: #FFFFFF; font-size: 18px; " href="http://localhost/embargo/en/node/2">&nbsp;&nbsp;Disclaimer</a></li>

            </ul>

        </nav>

    {% endif %}
    <!-- Banner -->

    {% if is_front and page.slideshow %}  
        <!-- <img  src="http://embargo.grip.org/ban1.jpg" >-->
        <div class="container slideshow">
            <div class="row">
                <div class="col-md-12">

                    {# {{ page.slideshow }}   #}
                </div>
            </div>
        </div>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>


            </ol>


            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active ">
                    <img src="http://embargo.grip.org/ban1.jpg" alt="Los Angeles" style="width:100%;">

                </div>

                <div class="item">
                    <img src="http://embargo.grip.org/ban2.jpg" alt="ONU" style="width:100%;">
                </div>
                <div class="item">
                    <img src="http://embargo.grip.org/ban7.jpg" alt="New york" style="width:100%;">

                </div>
                <div class="item">
                    <img src="http://embargo.grip.org/ban5.jpg" alt="" style="width:100%;">

                </div>

                <div class="item">
                    <img src="http://embargo.grip.org/ban6.jpg" alt="New york" style="width:100%;">

                </div>


            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% endif %}


    <!-- End Banner -->

</header>
<!--End Header & Navbar -->


<!--Search-->
{% if is_front and page.search %}
    {{ page.search }}
{% endif %}
<!--End Search-->


<!--Home page banner-->
{% if is_front and page.promo %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ page.promo }}
            </div>
        </div>
    </div>
{% endif %}
<!--End Home page banner-->



<!--Highlighted-->
{% if page.highlighted %}
    <div class="container">
        <div class="row">
            <br>
            <br>


            <div class="col-md-12">
                {{ page.highlighted }}
            </div>
        </div>
    </div>
{% endif %}
<!--End Highlighted-->

<!--Help-->
{% if page.help %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ page.help }}
            </div>
        </div>
    </div>
{% endif %}
<!--End Help-->

<!-- Start Top Widget -->
{% if is_front %}  
    {% if page.topwidget_left or page.topwidget_middle or page.topwidget_right %}
        <div class="topwidget">
            <!-- start: Container -->
            <div class="container">

                <div class="row">

                    <!-- Top widget left region -->

                    {% if page.topwidget_left %}
                        <div class = {{ topwidget_class }}>
                            {{ page.topwidget_left }}
                        </div>
                    {% endif %}

                    <!-- End top widget left region -->		  
                    <!-- Top widget middle region -->

                    {% if page.topwidget_middle %}
                        <div class = {{ topwidget_class }}>
                            {{ page.topwidget_middle }}
                        </div>
                    {% endif %}

                    <!-- End top widget middle region -->
                    <!-- Top widget right region -->

                    {% if page.topwidget_right %}
                        <div class = {{ topwidget_class }}>
                            {{ page.topwidget_right }}
                        </div>
                    {% endif %}

                    <!-- End top widget right region -->
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
<!--End Top Widget -->


<!-- Page Title -->
{%  if page.page_title and not is_front %}
    <div id="page-title">
        <div id="page-title-inner">
            <!-- start: Container -->
            <div class="container-fluid">
                {{ page.page_title }}
            </div>
        </div>
    </div>
{% endif %}
<!-- End Page Title -->


<!-- layout -->
<div id="wrapper">
    <!-- start: Container -->
    <div class="container-fluid">

        <!--Start Content Top-->
        {% if page.content_top %}
            <div class="content-top">
                <div class="row">
                    <div class="col-md-12">
                        {{ page.content_top }}
                    </div>
                </div>
            </div>
        {% endif %}
        <!--End Content Top-->

        <!--start:Breadcrumbs -->
        {%  if not is_front %}
            <div class="row">
                <div class="col-md-12">{{ page.breadcrumb }}</div>
            </div>
        {% endif %}
        <!--End Breadcrumbs-->

        <div class="row layout">
            <!--- Start Left Sidebar -->
            {% if page.sidebar_first %}
                <div class = "{{sidebarfirst}} sidebar-first">
                    {{ page.sidebar_first }}
                </div>
            {% endif %}
            <!---End Left Sidebar -->
            {% if is_front  %}
                {% if language.getId() == 'fr' %}
                    <h1 class="text-center titrehome">Les embargos sur les armes</h1>
                {% else %}
                    <h1 class="text-center titrehome">The arms embargoes</h1>

                {% endif %}  
            {% endif %}  
            <!--- Start content -->

            {% if page.content %}
                <div class="{{contentlayout}} content-layout">
                    {{ page.content }}
                    {% if is_front  %} 



                        <div class="col-md-12">
                            <div class="col-md-1">

                            </div>

                            <div  style="text-align:center" class="col-md-3">
                                <span class="fa-stack fa-5x has-badge" data-count="3">
                                    <i class=" fa fa-circle fa-stack-2x"></i>
                                    <i class="p3 fa fa-database fa-stack-1x fa-inverse" data-count="5"></i>
                                </span>
                                {% if language.getId() == 'fr' %}

                                    <p class="text-justify">
                                        Cette base de données fournit un aperçu le plus actuel possible des régimes d’embargos sur les armes. 
                                    </p>
                                {% else %}
                                    <p class="text-justify">
                                        This database aims to give an updated snapshot of the arms embargoes’ regimes. 

                                    </p>
                                {% endif %}

                            </div>
                            <div  style="text-align:center"  class="col-md-3">
                                <span class=" fa-stack fa-5x has-badge" data-count="3">
                                    <i class=" fa fa-circle fa-stack-2x"></i>
                                    <i  class="p3 fa fa-book fa-stack-1x fa-inverse" data-count="5"></i>
                                </span>
                                {% if language.getId() == 'fr' %}

                                    <p class="text-justify">
                                        L’information contenue dans cette base de données est régulièrement mis à jour, enrichie et vérifiée par le GRIP. 
                                    </p>
                                {% else %}
                                    <p class="text-justify">
                                        The information of this database is regularly updated, checked and supplemented.  
                                    </p>
                                {% endif %}
                            </div>

                            <div   style="text-align:center;" class="col-md-4">

                                <span class="p1 fa-stack fa-5x has-badge" data-count="3">
                                    <i class="p2 fa fa-circle fa-stack-2x"></i>
                                    <i  class="p3 fa fa-institution fa-stack-1x fa-inverse" data-count="5"></i>
                                </span>
                                {% if language.getId() == 'fr' %}
                                    <p class="text-justify">

                                        Les organisations ayant mis en œuvre des embargos sur les armes depuis 2000 sont : la Communauté Économique des États d’Afrique de l’Ouest (CEDEAO), la Ligue des États Arabes (LEA), l’Organisation pour la Sécurité et la Coopération en Europe (OSCE), l’Union européenne (UE) et les Nations unies. 
                                    <p>
                                    {% else %}     
                                    <p class="text-justify">
                                        Organisations which have implemented arms embargoes since 2000 are : The African Union (AU), The Economic Community of African States (ECOWAS), the European Union (EU), the League of Arab States (LAS), the Organisation for Security and Cooperation in Europe (OSCE) and the United Nations (UN).  
                                        <br>
                                    </p>
                                {% endif %} 
                            </div>

                            <br>
                        </div>





                        <!---Début  du titre --

<div class="row">
      <div class="col-lg-12 ">
         <div class="col-lg-1 ">
                </div>
                
                <div class="col-lg-11 ">
            
                       
                            </div>
                        </div>
                    </div>
                
                 --->
                        <!---Début de photo pays embargos--
                        <div class="col-lg-12">
                             
                         <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <br>
                          
                          <p>
                         <i><h1><b>&nbsp;&nbsp;22</b></h1></i> 
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nombre d’États ou territoires sous embargo
                        </p>
                         <p>
                             <i>  <h1><b>&nbsp;&nbsp;5</b></h1></i>    
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nombre d’entités non-étatiques sous embargos 
                        </p>
                        <p>
                            <i><h1><b>&nbsp;&nbsp;&nbsp;6</b></h1> </i>
                         
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nombre d’organisations mettant en œuvre un embargo
                        </p>
                        <!--
                        <p>
                         <i><h1><b>&nbsp;&nbsp;22</b></h1></i> 
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> <br>
                        </p>
                        <p>
                            <i><h1><b>&nbsp;&nbsp;5</b></h1> </i>   
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>   
                        </p>
                          <p>
                              <i> <h1><b>&nbsp;&nbsp;6</b></h1> </i> 
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <br>
                           
                        
                      
                           
                        
                         <i><h1><b>&nbsp;&nbsp;22</b></h1></i> 
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number of States or territories currently under arms embargo
                        </p>
                         <p>
                             <i>  <h1><b>&nbsp;&nbsp;5</b></h1></i>    
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Number of non-state entities currently under arms embargo   
                        </p>
                         
                        <p>
                            <i><h1><b>&nbsp;&nbsp;&nbsp;6</b></h1> </i>
                         
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Number of multilateral organizations implementing arms embargoes 
                        </p>
                         
                      </div>
                      <div class="col-lg-5">
                            <br>
                          <br>
                          <img src="http://embargo.grip.org/pays.jpg" >
                          <br>
                          <br>
                          <br>
                          
                        
                        
                      </div>
                      
                      </div>-->
           
                     
                        {% if language.getId() == 'fr' %}

                            <div class="row">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="text-center col-lg-12">
                                    <br>
                                    <br>

                                    <h1 class="text-center soustitrehome">Les embargos sur les armes en quelques chiffres</h1>
                                    <br>
                                    <br>
                                    <div class="col-lg-12">
                                        <div  class=" col-lg-2">
                                        </div>
                                        <div style="border: 2px solid #cccccc; background: #efeff5" class=" col-md-2">

                                            <div class="tout" >


                                                <div class="iconChiffre">
                                                    <div class="col-lg-12">  
                                                        <div class="col-lg-6">  
                                                            <br>

                                                            <i class="fa fa-flag fa-3x " style="color:#246F8C" width="130" height="130" aria-hidden="true"></i>


                                                        </div>
                                                        <div class="col-lg-6">

                                                            <div class="chiffres">
                                                                <div  style="font-size:24px; color:#246F8C "><h1><i>22</i></h1></div>
                                                                <br>


                                                            </div>



                                                        </div>

                                                        <div  style="font-size:15px;" class="title"><i>Nombre d’États ou territoires <br> sous embargo</i>  </div><br>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-lg-1">

                                        </div>


                                        <div style="border: 2px solid #cccccc; background: #efeff5" class=" col-md-2">
                                            <div class="tout" >


                                                <div class="iconChiffre">
                                                    <div class="col-lg-12">  
                                                        <div class="col-lg-6">  
                                                            <br>
                                                            <i class="fa fa-users fa-3x " style="color:#246F8C" width="125" height="130" aria-hidden="true"></i>

                                                        </div>
                                                        <div class="col-lg-6"> 
                                                            <div class="chiffres">
                                                                <div style="font-size:24px; color:#246F8C"><h1><i>5</i></h1></div><br>


                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div  style="font-size:15px;" class="title"><i>Nombre d’entités non-étatiques sous embargo</i>  </div></br>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-1">

                                        </div>

                                        <div style="border: 2px solid #cccccc; background: #efeff5" class=" col-md-2">
                                            <div class="tout" >


                                                <div class="iconChiffre">
                                                    <div class="col-lg-12">  
                                                        <div class="col-lg-6">  

                                                            <img  class="fa-5x " src="http://embargo.grip.org/bras.png" width="80" height="80" >
                                                            <br>
                                                        </div>
                                                        <div class="col-lg-6"> 
                                                            <div class="chiffres">
                                                                <div  style="font-size:24px; color:#246F8C "><h1><i>6&nbsp;&nbsp;<br></i></h1></div>


                                                                <br>
                                                            </div>
                                                        </div>
                                                        <div  style="font-size:15px;" class="title"><i>&nbsp;&nbsp;Nombre d’organisations multilatérales appliquant des embargos</i>  </div>

                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-2">

                                        </div>





                                    </div>

                                    <!--div class="col-lg-4">
                                    <img src="http://embargo.grip.org/pays.jpg" >
                                </div>--->
                                </div>

                            </div>

                            <!--Annglais--->

                        {% else %}


                            <div class="row">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="text-center col-lg-12">
                                    <br>
                                    <br>
                                    <h1 class="text-center soustitrehome">Key figures on arms embargoes :</h1>
                                    <br>
                                    <br>
                                    <div class="col-lg-12">
                                        <div  class=" col-lg-2">
                                        </div>
                                        <div style="border: 2px solid #cccccc; background: #efeff5" class=" col-md-2">

                                            <div class="tout" >


                                                <div class="iconChiffre">
                                                    <div class="col-lg-12">  
                                                        <div class="col-lg-6">  
                                                            <br>
                                                            <i class="fa fa-flag fa-3x " style="color:#246F8C" width="125" height="130" aria-hidden="true"></i>  

                                                        </div>
                                                        <div class="col-lg-6"> 
                                                            <div class="chiffres">
                                                                <div  style="font-size:24px; color:#246F8C "><h1><i>22</i></h1></div>

                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div  style="font-size:15px;" class="title"><i>Number of States or territories under embargo</i>  </div><br>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-lg-1">

                                        </div>


                                        <div style="border: 2px solid #cccccc; background: #efeff5" class=" col-md-2">
                                            <div class="tout" >


                                                <div class="iconChiffre">
                                                    <div class="col-lg-12">  
                                                        <div class="col-lg-6">  
                                                            <br>
                                                            <i class="fa fa-users fa-3x " style="color:#246F8C" width="125" height="130" aria-hidden="true"></i>

                                                        </div>
                                                        <div class="col-lg-6"> 
                                                            <div class="chiffres">
                                                                <div  style="font-size:24px; color:#246F8C "><h1><i>5</i></h1></div>


                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div  style="font-size:15px;" class="title"><i>Number of non-state entities under embargo </i>  </div><br>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-1">

                                        </div>

                                        <div style="border: 2px solid #cccccc; background: #efeff5" class=" col-md-2">
                                            <div class="tout" >


                                                <div class="iconChiffre">

                                                    <div class="col-lg-12"> 

                                                        <div class="col-lg-6"> 


                                                            <img  class="fa-5x " src="http://embargo.grip.org/bras.png" width="80" height="80" >

                                                        </div>
                                                        <div class="col-lg-6"> 
                                                            <div class="chiffres">
                                                                <div  style="font-size:24px; color:#246F8C "><h1><i>6&nbsp;&nbsp;</i></h1></div>



                                                                <br>
                                                            </div>
                                                        </div>
                                                        <div  style="font-size:15px;" class="title"><i>Number of multilateral organizations implementing embargoes</i></div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-2">

                                        </div>





                                    </div>

                                    <!--div class="col-lg-4">
                                    <img src="http://embargo.grip.org/pays.jpg" >
                                </div>--->
                                </div>

                            </div>
                        {% endif %}
                    </div>

                    <!--
                    <div class="col-md-12">
                    <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://www.populationdata.net/wp-content/uploads/monde-politique.gif" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Nombre  de pays</h5>
                        <p class="card-text">Arménie,...,...</p>
                        <a href="http://localhost/drupal-8.6.3/fr/viewslist" class="btn btn-primary">Plus d'infos</a>
                      </div>
                    </div>
                    </div>
                    
                    <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://pngimage.net/wp-content/uploads/2018/06/icono-buscar-png-9.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">...</h5>
                        <p class="card-text">Recherche</p>
                        <a href="#" class="btn btn-primary">Plus d'infos</a>
                      </div>
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://www.chea.org/sites/default/files/2018-04/Institutions1_0.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Organisations</h5>
                        <p class="card-text">ONE, UE, LEA,...</p>
                        <a href="#" class="btn btn-primary">Plus d'infos</a>
                      </div>
                    </div>
                    </div>
                    </div>-->
                </div>

            {% endif %}
        {% endif %}
        <!---End content -->

        <!--- Start Right Sidebar -->
        {% if page.sidebar_second %}
            <div class="{{sidebarsecond}} sidebar-second">
                {{ page.sidebar_second }}
            </div>

        {% endif %}
        <!---End Right Sidebar -->

    </div>
    <!--End Content -->

    <!--Start Content Bottom-->
    {% if page.content_bottom %}

        <div class="content-bottom">
            <div class="row">
                <div class="col-md-12">


                    {{ page.content_bottom }}
                </div>
            </div>
        </div>
    {% endif %}
    <!--End Content Bottom-->
</div>
</div>
<!-- End layout -->

<!-- Start Footer -->
{% if page.footer_top_one or page.footer_top_two or page.footer_top_three or page.footer_top_four %}
    <div class="footer-widgets">
        <!-- Start Container -->
        <div class="container">

            <div class="row">

                <!-- Start Footer Top One Region -->

                {% if page.footer_top_one %}
                    <div class = {{ footer_top_class }}>
                        {{ page.footer_top_one }}
                    </div>
                {% endif %}

                <!-- End Footer Top One Region -->

                <!-- Start Footer Top Two Region -->
                {% if page.footer_top_two %}
                    <div class = {{ footer_top_class }}>
                        {{ page.footer_top_two }}
                    </div>
                {% endif %}

                <!-- End Footer Top Two Region -->

                <!-- Start Footer Top Three Region -->

                {% if page.footer_top_three %}
                    <div class = {{ footer_top_class }}>
                        {{ page.footer_top_three }}
                    </div>
                {% endif %}

                <!-- End Footer Top Three Region -->

                <!-- Start Footer Top Four Region -->

                {% if page.footer_top_four %}
                    <div class = {{ footer_top_class }}>
                        {{ page.footer_top_four }}
                    </div>
                {% endif %}

                <!-- End Footer Top Four Region -->

            </div>
        </div>
    </div>
{% endif %}
<!-- Footer Region-->
{% if page.footer %}
    <div class="footer-space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    {{ page.footer }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- End Footer Region-->
<!--End Footer -->

<!-- Start Footer Ribbon -->
{% if page.footer_menu %}


    {#
    //pânel blue panel footer page 
     {% if is_front %}
    <!--div style="background-color: #246F8C;" class="panel-body">
         
        <div class="col-lg-12">
        <div style="color: #ffffff;" class="col-lg-4">
   {% if language.getId() == 'fr' %} 
      <br>
       
      <p><i>Les bases de données du Grip</i></p>
      <p>
    
      <ul>
          <i><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i><a style="color: #ffffff;" href="https://production.grip.org/"> Base de donnée de l'industrie de l'armement en Belgique</a></i></br>
          <i><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/fr/node/542" > Production et transferts d’armements dans le monde</a></i></br>
          <i><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/fr/node/1029" > Les transferts d'armes de la Belgique </a></i></br>  
      </ul>  
   </p>
        

  {% else %}
     <br>
       
      <p><i>The databases of the Grip</i></p>
      <p>
    
      <ul>
          <i><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i><a style="color: #ffffff;" href="https://production.grip.org/"> Database of the armaments industry in Belgium</a></i></br>
          <i><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/fr/node/542" > Global arms production and transfers</a></i></br>
          <i><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/fr/node/1029" > Belgium's arms transfers </a></i></br>  
      </ul>  
       </p>
  {% endif %}
        </div>
      
     <div style="color: #ffffff;" class="col-lg-3">
   {% if language.getId() == 'fr' %} 
       <br>
       
      <p><i>Contact</i></p>
           
      <ul>
       <i><i class="fa fa-globe" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/"> Visitez le site du GRIP</a></i></br>
       <i><i class="fa fa-envelope" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/fr/contact/contact" > Contactez le Grip</a></i></br>
      </ul>
          
             
        
        
       </p>
        

  {% else %}
      
      
        <br>
       
      <p><i>Contact</i></p>
      <p>
    
      <ul>
        <i><i class="fa fa-globe" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/"> Visit the GRIP website</a></i></br>
        <i><i class="fa fa-envelope" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/fr/contact/contact" > Contact the Grip</a></i></br>
      </ul>  
       </p>

  {% endif %}
        </div>
      
     
  
       
  //image du footer page
      <div style="color: #ffffff;" class="col-lg-2">
           <!--<div id="communautefr"></div> -->
       <img src="http://embargo.grip.org/unscar_logo.png" >
     </div>
           
        <div style="color: #ffffff;" class="col-lg-1">
                
      <img src="http://embargo.grip.org/logo_mini.png" >
     
       </div>
         <div style="color: #ffffff;" class="col-lg-1">
                
     <img src="http://embargo.grip.org/soutien_v_fr.png" >
       </div> 
       
        </div>
     
        <div class="col-lg-12">
        
          <!-- <div style="color: #ffffff;" class="col-lg-8">
   {% if language.getId() == 'fr' %} 
      <br>
       
  <p class="text-justify"><i>
  Cette base de données est réalisée dans le cadre de la « Cellule de veille sur l’évolution de la production 
  et des transferts d’armes en Belgique, en Europe et dans le monde», financée par la Région wallonne, 
  et bénéficie du soutien financier de l’UNSCAR.   </i> </p>
  <p><i></i></p>
     
  {% else %}
      <br>
      
  <p class="text-justify"><i>
    This database has been initially developped as part of 
  
    the project « Cellule de veille sur l’évolution de la
    production et des transferts d’armes en Belgique, en Europe et
    dans le monde », funded by the Walloon Region, and then benefitted from the support of the UNSCAR.  </i>  
    </p>
  {% endif %}
        </div>
        <div class="col-lg-4"></div>
        .....
        
        </div>-->
    </div>
        {# This will be a comment 
         {% endif  %}#}
    <!--  <div class="footer-ribbon">
       <div style="background-color: #eee9e9;" class="panel-body">
     
          <div class="row">
          <p style="color: #246F8C;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contactez le GRIP</p>
          <a href="https://www.grip.org/fr/" style="color: #246F8C;">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visitez le site du Grip</a>
          </div>
         
       <div class="row">
        
           
         <div class="col-lg-12">
             <div class="col-lg-4"></div> 
   
         
      
         <div class="col-lg-6">
             <p style="color: #246F8C; font-size: 105%"> <br> © Grip   Groupe de recherche et d'information sur la paix et la sécurité</p>
             
             <div class="social-media">
                
            
            
           </div>
         </div>
         
          <div class="col-lg-2">
           
              </br>
              <br/>
 
  
        
         </div>
         
         </div>
       </div>
     
     </div>
       <div style="background-color:#eee9e9;" class="panel-body">
     
          <div class="row">
    <!-- <p style="color: #246F8C;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contactez le GRIP</p>
    <a href="https://www.grip.org/fr/" style="color: #246F8C;">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visitez le site du Grip</a>
    </div>
   
 <div class="row">
  
     
   <div class="col-lg-12">
      <div class="col-lg-5"></div> 

   

    {% if show_social_icon %}#

    {% endif %}

        <div class="col-lg-5"></div> 
    </div>
  </div>

</div> -->







{% endif %}
<!-- End Footer Ribbon -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- #footer-bottom -->
<div id="footer-bottom">

    <div style="background-color: #246F8C;" class="panel-body">

        <div class="col-lg-12">
            <div style="color: #ffffff;" class="col-lg-4">
                {% if language.getId() == 'fr' %} 
                    <br>

                    <p style="text-align: left;" ><i>Les bases de données du Grip</i></p>
                    <p >

                    <ul style="text-align: left;">
                        <i><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i><a style="color: #ffffff;" href="https://production.grip.org/"> Base de donnée de l'industrie de l'armement en Belgique</a></i></br>
                        <i><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/fr/node/542" > Production et transferts d’armements dans le monde</a></i></br>
                        <i><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/fr/node/1029" > Les transferts d'armes de la Belgique </a></i></br>  
                    </ul>  
                    </p>


                {% else %}
                    <br>

                    <p style="text-align: left;" ><i>GRIP databases</i></p>
                    <p>

                    <ul style="text-align: left;" >
                        <i><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i><a style="color: #ffffff;" href="https://production.grip.org/"> Armament industry in Belgium</a></i></br>
                        <i><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/fr/node/542" > Global arms production </a></i></br>
                        <i><i class="fa fa-arrow-circle-o-right" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/fr/node/1029" > Belgium arms transfers </a></i></br>  
                    </ul>  
                    </p>
                {% endif %}
            </div>

            <div style="color: #ffffff;" class="col-lg-3">
                {% if language.getId() == 'fr' %} 
                    <br>

                    <p style="text-align: left;" ><i>Contact</i></p>

                    <ul style="text-align: left;" >
                        <i><i class="fa fa-globe" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/"> Visitez le site du GRIP</a></i></br>
                        <i><i class="fa fa-envelope" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/fr/contact/contact" > Contactez le Grip</a></i></br>
                    </ul>
                    <div class="social-media">



                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a style="font-size: 16px;" href="https://www.facebook.com/GRIP.1979"class="icon-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>

                        <a href="https://twitter.com/grip_org" class="icon-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>

                        <a href="https://www.linkedin.com/company/grip" class="icon-linkedin" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"></i></a>


                    </div>




                    </p>


                {% else %}


                    <br>

                    <p style="text-align: left;" ><i>Contact</i></p>
                    <p>

                    <ul style="text-align: left;" >
                        <i><i class="fa fa-globe" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/"> Visit GRIP website</a></i></br>
                        <i><i class="fa fa-envelope" style="font-size:24px"></i><a style="color: #ffffff;" href="https://www.grip.org/fr/contact/contact" > E-mail GRIP</a></i></br>
                    </ul> 

                    <div class="social-media">



                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size: 16px;" href="https://www.facebook.com/GRIP.1979"class="icon-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>

                        <a href="https://twitter.com/grip_org" class="icon-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>

                        <a href="https://www.linkedin.com/company/grip" class="icon-linkedin" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"></i></a>


                    </div>
                    </p>

                {% endif %}
            </div>
            <br>
            <p style="text-align: left; color:#ffffff;"> <i>Avec le soutien de </i> </p>
            <div style="color: #ffffff;" class="col-lg-2">
                <br>
                <!--<div id="communautefr"></div> -->
                <img   src="http://embargo.grip.org/unscar_logo.png" >
            </div>



            <div style="color: #ffffff;" class="col-lg-2">

                <img width="175" height="125" src="http://embargo.grip.org/soutien_v_fr.png" >
            </div> 

        </div>
    </div>

    <div style="background-color:#757282;" class="panel-body">
        <div class="col-lg-12">
            <div  style="color: #FFFFFF;"class="col-lg-4">
                <i> 467 Chaussée de Louvain B-1030 Bruxelles</i>

            </div>

            <div  style="color: #FFFFFF;"class="col-lg-5"> 
                <i><p class="copyright">© Grip {{ "now"|date("Y") }} - Groupe de recherche et d'information sur la paix et la sécurité </p></i>

            </div>
            <!--
            <div class=" col-lg-2 social-media">
     

     
        <a href="https://www.facebook.com/GRIP.1979"class="icon-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
      
        <a href="https://twitter.com/grip_org" class="icon-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
     
        <a href="https://www.linkedin.com/company/grip" class="icon-linkedin" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
   
    
  </div>-->


            <div style="color: #ffffff;" class="col-lg-2"><i> +32.2.241.84.20</i> </div> 

        </div>


    </div>  
    <br>
    <br>
    <br> 
    <div class="container">

        <div class="row">
            <hr class="style-mint">
            <div id="toTop" class="col-md-12">
                <a class="scrollUp"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ">
                {{ page.footer_menu }}

            </div>






            <!--
        <p class="copyright">© Grip {{ "now"|date("Y") }} - Groupe de recherche et d'information sur la paix et la sécurité</p>
         
        <div class="col-md-12 ">
           <div class="social-media">
            
              <a href="https://www.facebook.com/GRIP.1979"class="icon-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
            
              <a href="https://twitter.com/grip_org" class="icon-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
           
              <a href="https://www.linkedin.com/company/grip" class="icon-linkedin" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
         
           </div>
        </div>-->



            {% if show_credit_link %}
                <p class="credit">Theme for <a href="https://www.drupal.org/8" target="_blank">Drupal 8</a></p>
            {% endif %}
            </div-->
        </div>
    </div>




    <h2></h2>  

</div>
<!-- #footer-bottom ends here -->
